*{
    font-family: arial;
}
body{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: center;/*alinha o container no meio da tela*/
    height: 120px;

}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between; /*espaço flex entre as divs logo e menus*/
    
}
.logo{
    display: flex;/*por padrão o flex direction é row*/
    align-items: center; /*alinha a coluna para centro a logo*/
   
}
.menus{
  
  display: flex; /*deixar o menu no meio*/
  align-items: center;

}

nav ul ,
 nav li{
    list-style: none; /*tira pontos da lista */
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;/*para poder alterar conteudos*/

    padding: 15px;
    text-decoration: none; /*tira sublinhados dos links*/
    text-transform: uppercase; /*deixa tudo maiusculo */
    color: #727272;
}

/*para deixar o efeito de active e hover nos menus*/
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #ffff;
}

/*para a seção do baner*/
#banner{
    display: flex;
    justify-content: center;
    background-image:url(../images/img1.jpg); /*imagem*/
    background-position: center; /*posicionar no centro*/
    background-size: cover; /*propriedade responsavel por deixar o tamanho da imagem proporcinal ao tamanho da tela indempendente do dispositivo*/
    height: 670px; /*nada vai aparecer se n colocar uma altura falsa para o elemento */
}
.column{ /*essa classe column é aplicada junto com a classe container, e é responasavel por deixar as div do baner uma em baixo da outra*/
    flex-direction: column;
}
.banner_headline{
    flex: 1; /*banner_headline com tamanho variavel*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    text-shadow: 0px 1px 1px #555555;
 

   
}
.banner_headline h1{
    font-size: 70px;
    margin: 0;
    padding: 0;
    max-width: 350px;/*area fixa para espremer o texto, tamanho maximo de 350*/
}
.banner_headline h2{
    font-size: 21px;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-top: 30px;
}
.banner_options{
    
    display: flex;
    height: 210px; /*banner options com tamanho fixo*/
}
.banner1,
.banner2,
.banner3{
    flex: 1; /*para todos os banes flex em mesmo tamanho de proporção*/
    color: #ffff;
    padding: 20px;

}

/*aplicação de cores*/
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;

}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;/*margem do na parte de baixo e cima na descrição  do banner*/
    margin-bottom: 20px
}
/*para os botões*/
.banner_options a{
    display: inline-block; /*a div acompanha o tamanho do texto, em formato de bloco para f */
    border: 1px solid #ffff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none; /*tira o sublinhado da tag a*/
}
.banner_date{
    display: flex;
    border-bottom: 20px;
    padding: 10px;
    justify-content: space-between;
    margin:5px;
    border-bottom: 1px solid #555555;
    font-size: 14px;

}

/*parte das noticias*/

#geral {
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}


.widged_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widged_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widged_title_bar{/*O QUADRADO AZUL EM BAIXO DO TITULO*/
    height: 2px;
    width: 50px;
    background-color:#36a9e1 ;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}


/*Latest a News*/
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2B4C99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;/*espaçamento entre a imagem e a data */
}

article .news_thumbnail img{ /*faz com que toda a área da imagem seja preemchida isso irá favorecer o fexbox e a quebra de conteudos com o wrap*/
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000000;
}
article .news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}


/*DEPARTAMENTS*/
aside .widget_body {
flex-wrap: wrap;
justify-content: space-between;
}

aside .widget_body .departments{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0079c7;
    height: 154px;
    width: 154px;
}

/*apointments*/
aside .widget_body .appointment_desc{

    color: #5c5c5c;
    font-size: 20px;
    border-bottom: 1px  solid  #cccc;
    padding-bottom:20px ;
    

}



aside .widget_body .appointment_info_item{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   
   font-size: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px  solid  #cccc;

   
}

aside .widget_body .appointment_info_item img{
width:5%;
margin-right:5px ;
}

/*footer*/
footer{
    background-color: #000000;
    justify-content: center;
    display: flex; /*flex center para alinhar com o conteudo da pagina acime e o container*/
}

/*footer-menu*/
.footer_menu{
    color: #fff;
    display: flex;
}

.fm-1, .fm-2, .fm-3{
    flex: 1;
}

.fm-1{
    background-color: #39aae1;
    padding:15px;
}
.fm-2{
    background-color: #0079c7;
    padding: 15px;
}
.fm-3{
    background-color: #2b4c99;
    padding: 15px;
}
.fm-1-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.fm-1-desc{
    font-size: 13px;
    margin-bottom: 10px;
}




/*footer area */
.footer_area{
    display: flex;
    flex-direction: row;
}
.footer_area_item{
    background-color: #000000;
    color: #fff;
    flex: 1;
}
.flexColum{
    flex-direction: column;
}

footer .widged_title_text{
    color: #fff;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

/*FOOTER MEDICENTER CLINIC*/

.footer_medicenter_data{
    color: #5c5c5c;
    font-size: 13px;
}
.footer_medicenter_desc{
    margin-bottom:25px;
}
.footer_medicenter_andress_title{
    justify-content: start;
}

.footer_address{
    display: flex; /*propriedades flex na pai*/
    flex-direction: row;
   
}
.footer_item{ /*flex 1 na classe filhas*/
flex: 1;
padding: 2px;
}
.footer_item strong{
    color: #fff;
} 

footer .button-area{
    display: flex;
    justify-content: start;
    margin-top: 25px;
    
}
footer .button-area .button-icon{
    margin-right: 10px;
    
   
}
footer .button-icon img{
    width: 30px;
    height: 30px;
}

/*Lastet Posts footer*/
footer .footer_area_item .post-area{
    margin-bottom: 25px;
}
footer .footer_area_item .lastpost {
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
}

footer .footer_area_item .lastpost_date{
    color: #39aae1;
    font-size: 11px;
}

/*Lastet TWITTERS*/
footer .post-area-lasttweets{
    margin-bottom: 25px;
}
footer .post-area-lasttweets .lastpost{
    color: #5c5c5c;
    margin-bottom: 5px;

}